.articleIntro {
  display: block;
  min-height: 50vh;
  background-color: var(--opaque-label-longread-background);
  color: var(--breaking-label-copy);
  padding: 10vh 10vw;
}
@media (min-width: 1024px) {
  .articleIntro {
    padding: 10vh 25vw;
  }
}
