.svgContainer {
  position: relative;
  .mapImage {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;

    &.active {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
  .title {
    font-family: "ProximaNovaRegular";
    text-align: left;
    color: var(--content-copy);
  }

  h2.title {
    font-family: "ProximaNovaBold";
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  p.title {
    padding: 4px 16px;
    margin: 0 0 4px 0;
  }

  width: 360px;
  margin: auto;
  z-index: -1;
  svg {
    // opacity: 0;
    &.active {
      opacity: 1;
      transition: 1s;
    }
    position: absolute;
    margin: auto;
  }
}

.photoContainer {
  .photoPassive {
    opacity: 0;
    transition: opacity 1s;
  }
  .photoActive {
    opacity: 1;
    transition: opacity 1s;
  }
}

@media (min-width: 1024px) {
  .svgContainer {
    width: 640px;
    margin: 0;
  }
  h2.title {
    font-size: 20px;
  }
}
