.scrollyWrapper {
  background-color: var(--product-background-2);
  position: relative;
  .scrollyTextContainer {
    max-width: 360px;
    margin: auto;
    position: relative;
    padding-top: 100vh;
    .scrollyTextPart {
      position: relative;
      z-index: 1;
      background-color: var(--product-background-2);
      margin-bottom: 100vh;
      h2,
      p {
        color: var(--content-copy);
        background-color: var(--product-background-2);
      }
    }
  }
  .backgroundGraphicContainer {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    padding-top: 20vh;
    &.fixed {
      position: fixed;
    }
  }
}
